/* This forms the bulk of the CSS. */

body {
    font-family: sans-serif;
    font-size: 1em;
    background-color: #ccddee;
    background-color: hsl(210, 50%, 85%);
  }
  
  #app {
    align-items: start;
    max-width: 80%;
    margin: auto;
    height:auto;
    display:grid;
    grid-template-columns: (6, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "top top top top top top"
    "left left left right right right"
    "center center center center center center ";
    grid-gap: 1em 1em;
  }
  
  @media (min-width: 800px ) {
    #app {
      display:grid;
      grid-template-columns: (6, 1fr);
      grid-template-rows: auto;
      grid-template-areas: "top top top top top top"
      "left center center center center right";
      grid-gap: 1em 1em;
    }
  }
  
  #topbar {
    display:flex;
    align-items: flex-end;
    grid-area: top;
    height:150px;
    background-image: url(./tiltr-logo.png);
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: center 25%;
}

#top-search {
  background-color: hsla(0,0%,100%,1);
  border:none;
  border-radius: 1000vh;
  box-shadow: none;
  color:#999;
  flex:10;
  font-size: 1em;
  height:40px;
  margin:1vh ;
  padding: 1vw 1vh;
  text-shadow: none;
  text-align: center;
}

#top-search:active {
  color:black;
}

#top-search-button {
  background-color: #fff;
  background-color: rgb(102, 153, 204);
  border:none;
  border-radius: 1000vh;
  box-shadow: none;
  color:white;
  flex:1;
  font-size: 1em;
  height:40px;
  margin:1vh;
  /* padding: 10px; */
  text-shadow: none;
  text-align: center;
  line-height: 25px;
}


/* Tagbar Stuff */


#tagbar {
    grid-area: left;
    align-self: stretch;
    align-items: start;
    padding: 0 2vw 0 .5vw;
    margin: 0;
}

#tagbar ul {
    text-align: left;
    padding: 0;
    margin: 0;

}

ul {
  text-decoration: none;
  list-style-type: none;
  
}

li {
  text-decoration: none;
}

h1 {
  margin:1vh auto 1vh auto;
}

h2 {
  color: grey;
  color: hsl(210, 50%, 20%);
}

h3 {
  padding: none;
  margin: none;
}

h4 {
  color: grey;
  color: hsl(210, 50%, 40%);
}


/* Post Stuff */


#center {
    grid-area: center;
    align-items:start;
    column-gap: 1vw;
}

@media (min-width: 701px ) {
  #center {
    column-count: 1;
  }
}

@media (min-width: 1001px ) {
  #center {
    column-count: 2;
  }
}

@media (min-width: 1201px ) {
  #center {
    column-count: 3;
  }
}

.result-post {
    background-color: #eee;
    height: auto;
    margin-bottom: 1vh;
    display: inline-block;
    padding:1vh 1vw;
    border-radius: .25em;
}

.result-post img {
    width:100%;
}


/* Artist Stuff */


#artist {
    display:grid;
    grid-area: right;
    align-self: stretch;
    align-content: start;
}
.centered-text {
  text-align: center;
}

.artist-image img{
    object-fit:contain;
    width:100%;
}

.username {
    color:grey;
}

a {
    text-decoration: none;
}

.artist-image img {
    border-radius: 1000vh;
}

.artist-description {
}
