/* This forms the bulk of the CSS. */

body {
  font-family: sans-serif;
  font-size: 1em;
  background-color: #ccddee;
  background-color: hsl(210, 50%, 85%);
}
  
#app {
  align-items: start;
  margin: auto;
  height:auto;
  display:grid;
  grid-template-columns: (6, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "top top top top top top"
  "left left left right right right"
  "center center center center center center ";
  grid-gap: 1em 1em;
}

@media (min-width: 800px ) {
  #app {
    display:grid;
    grid-template-columns: (6, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "top top top top top top"
    "left center center center center right";
    grid-gap: 1em 1em;
    max-width: 80%;
  }
}

#topbar {
  align-items: flex-end;
  background-image: url(./tiltr-logo.png);
  background-size: 175px;
  background-repeat: no-repeat;
  background-position: center 20px;
  display:flex;
  grid-area: top;
  height:150px;
}

#top-search {
  background-color: hsla(0,0%,100%,1);
  border:none;
  border-radius: 1000vh;
  box-shadow: none;
  color:#999;
  flex:10;
  font-size: 1em;
  height:40px;
  line-height: 20px;
  padding: 10px;
  text-shadow: none;
  text-align: center;
  width:10px;
}

#top-search-button {
  background-color: #fff;
  background-color: rgb(102, 153, 204);
  border:none;
  border-radius: 1000vh;
  box-shadow: none;
  color:white;
  flex:1;
  font-size: 1em;
  height:40px;
  line-height: 20px;
  margin-left: 10px;
  padding: 10px;
  text-shadow: none;
  text-align: center;
}

#top-search:active {
  color:black;
}


/* Tagbar Stuff */


#tagbar {
    grid-area: left;
    align-self: stretch;
    align-items: start;
    padding: 0 2vw 0 .5vw;
    margin: 0;
}

#tagbar ul {
    text-align: left;
    padding: 0;
    margin: 0;

}

ul {
  text-decoration: none;
  list-style-type: none;
  
}

li {
  text-decoration: none;
}

h1 {
  margin:1vh auto 1vh auto;
}

h2 {
  color: grey;
  color: hsl(210, 50%, 20%);
  font-size: 1.5rem;
}

h3 {
  padding: none;
  margin: none;
}

h4 {
  color: grey;
  color: hsl(210, 50%, 40%);
  font-size: 1.25rem;
}


/* Post Stuff */


#center {
    grid-area: center;
    align-items:start;
    column-gap: 1vw;
}

@media (min-width: 700px ) {
  #center {
    column-count: 1;
  }
}

@media (min-width: 1000px ) {
  #center {
    column-count: 2;
  }
}

@media (min-width: 1200px ) {
  #center {
    column-count: 3;
  }
}

.result-post {
    background-color: #eee;
    height: auto;
    margin-bottom: 1vh;
    display: inline-block;
    padding:1vh 1vw;
    border-radius: .25em;
}

.result-post img {
    width:100%;
}


/* Artist Stuff */


#artist {
    display:grid;
    grid-area: right;
    align-self: stretch;
    align-content: start;
}
.centered-text {
  text-align: center;
}

.artist-image img{
    object-fit:contain;
    width:100%;
}

.username {
    color:grey;
}

a {
    text-decoration: none;
}

.artist-image img {
    border-radius: 1000vh;
}

.artist-description {
}
